/* General Styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  /* Form Styles */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  input[type="number"] {
    width: 60px;
  }
  
  input[type="date"] {
    width: 200px;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  #agenda-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #agenda {
    margin-top: 20px;
  }
  
  .day {
    margin-bottom: 20px;
  }
  
  .day-header {
    font-weight: bold;
  }
  
  .event {
    margin-top: 10px;
    padding-left: 10px;
  }
  
  /* login pagina */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  padding-right: 20px;
}

.filter-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.accommodations {
  flex: 2;
}

h3 {
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.accommodation {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.image {
  margin-right: 20px;
}

.image img {
  width: 200px;
}

.info {
  flex: 1;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}
